/.idea
/vendor
/tests
/bootstrap/cache
/public/images
/artisan
/server.php
/routes
!/routes/web.php
/storage
/config
!/config/app.php
.env
.gitattributes
composer.lock
phpunit.xml
webpack.mix.js
yarn.lock
