.container {
    background: #fff;
    border: 2px solid #eee;
}

.header {
    padding-top: 30px;
}

.form-control {
    width: 320px;
    display: inline-block;
    height: auto;
}

label {
    font-weight: 400;
}

.btn {
    white-space: normal;
    height: auto;
}

.random {
    float: right;
}

.grid {
    padding-top: 30px;
}

.image {
    margin-top: 20px;
}

.image img {
    width: 100%;
}

.image-title {
    padding: 10px 0;
    font-size: 14px;
}

.noty .modal-content {
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .random  {
        float: none;
    }

    .form-control {
        width: 100%;
        display: inline-block;
        height: auto;
    }
}
